*.log
*.tmp
*.swp
*.swo
*~

*.cache
.cache/

**/Cache/
**/Code Cache/
**/GPUCache/
**/DawnGraphiteCache/
**/DawnWebGPUCache/
**/Session Storage/
**/SharedStorage/
**/Trust Tokens/

mozilla/
zen/
hydralauncher/

gtk-4.0/assets/
gtk-4.0/*.cache

micro/backups/
micro/buffers/
yay/
pulse/cookie

waybar/*.log

xfce4/**/Thunar/*.history
xfce4/**/Thunar/*.tmp
